*{
    margin: 0;
    padding: 0;
}

body{ 
    font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-color: linear-gradient(to right, #a5a5a5,#941c1c);
    padding: 0 !important;;
}

#banner{
    background-image:url(image/back.jpeg);
    color: #fff;
    padding-top: 5%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    height: 100%;
    background-size: cover;
    background-color: rgb(75, 3, 3);
    background-repeat: no-repeat;
    min-height: 500px;
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

#services{
    padding: 80px 0;
}

service-img{
    width: 25px;
    margin-top: 20px;
    height: 25px;
}
.carosel-inner{
    width: 100%;
    max-height: 200px !important;
}
@media (max-width:900px) {
.one{
    
    width: 40%;
}
    
}